*.corrected
*.phoneme
*.csv
*.npy
.idea
.DS_Store
__pycache__
*.pyc
*stanford-parser-3.7.0-models.jar
*_pos.pkl
env
GoogleNews-vectors-negative300.bin
embding_matrix.pkl
*.ipynb
src/Classifiers/checkpoints/*
nli-shared-task-2017/*
